:root {
    --theme-color1: #ddeb9d;
    --theme-color2: #a7d694;
    --theme-color3: #6DB49B;
    --theme-color4: #4088a9;
    --theme-color5: #284e74;
    --theme-color-white: #fefefe;
    --theme-color-black: #222;
}

body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #fefefe;
    color: #222;
}

header {
    display: flex;
    height: 80px;
    background-color: #fefefe;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0 20px;
}

footer {
    height: 80px;
    background-color: #fefefe;
}

section {
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 1rem;
    background-color: #ddeb9d;
}

section>aside {
    width: 40%;
    max-height: calc(100vh - 160px);
    position: relative;
    overflow-y: scroll;
}

section>main {
    width: auto;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.my-tree {
    position: relative;
}

.my-tree li {
    font-size: 1rem;
    list-style-type: none;
    vertical-align: middle;
}

.my-tree li>ul {
    display: none;
}

.my-tree li.is-open>ul {
    display: block;
}

.my-tree span>i {
    position: relative;
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 1px solid transparent;
    margin-right: 0.5rem;
}

.my-tree li.has-childs>span>i {
    border-color: #222;
    cursor: pointer;
}

.my-tree li.has-childs>span>i::before,
.my-tree li.has-childs>span>i::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 7px;
    height: 1px;
    background-color: #222;
}

.my-tree li.has-childs>span>i::before {
    left: 2px;
    top: 5px;
    transform: rotate(90deg);
}

.my-tree li.has-childs>span>i::after {
    left: 2px;
    top: 5px;
}

.my-tree li.is-open>span>i::before {
    display: none;
}



.my-tree span {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

.my-tree span a {
    color: #4088a9;
    text-decoration: none;
}

.my-tree span:hover {
    background-color: #4088a9;
}

.my-tree span:hover a,
.my-tree li.selected>span a {
    color: #fefefe;
}

.my-tree li.has-childs>span:hover>i,
.my-tree li.has-childs.selected>span>i {
    border-color: #fefefe;
}

.my-tree li.has-childs>span:hover>i::before,
.my-tree li.has-childs>span:hover>i::after,
.my-tree li.has-childs.selected>span>i::before,
.my-tree li.has-childs.selected>span>i::after {
    background-color: #fefefe;
}


.my-tree ul {
    padding-left: 1rem;
}

.my-tree li.selected>span a {
    cursor: default;
}

.my-tree li.selected>span,
.my-tree li.selected>span:hover {
    background-color: #284e74;
}