<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/main.css?0" type="text/css" />
    <base href="/">
    {{login-form}}
        <script type="text/javascript" src="./assets/login-form.js" async></script>
    {{/login-form}}
    {{is-logined}}
        <script type="module" src="./assets/admin.js?1" async></script>
    {{/is-logined}}
</head>
<body class="is-admin">
    <header>
        <h1>{{caption}}</h1>
        {{is-logined}}
            <form method="post">
                <input type="hidden" name="logout" value="1" />
                <input type="submit" value="Выйти" />
            </form>
        {{/is-logined}}
    </header>
    <section>
        {{is-logined}}
            <aside>
                <ul class="my-tree" id="my-tree">
                    {{data-list}}
                        <li>
                            <span data-id="{{id}}" data-upid="{{upid}}" data-name="{{name}}" data-text="{{text}}">
                                <i></i><a href="">{{name}}</a>
                            </span>
                            {{childs}}
                        </li>
                    {{/data-list}}
                </ul>
                <div class="tree-buttons">
                    <button class="tree-buttons__add">Добавить</button>
                    <button class="tree-buttons__add-child">Вложение</button>
                    <button class="tree-buttons__delete">Удалить</button>
                </div>
            </aside>
            <main id="tree-form">
                <form method="post">
                    <div>
                        <h4>Название</h4>
                        <input type="text" name="name" value="" />
                    </div>
                    <div>
                        <h4>Описание</h4>
                        <textarea name="text"></textarea>
                    </div>
                    <div>
                        <h4>Родитель</h4>
                        <select></select>
                    </div>
                    <div class="button-line">
                        <input type="submit" class="btn-submit" value="Сохранить"/>
                        <button class="btn-cancel">Отменить</button>
                    </div>
                </form>
            </main>
        {{/is-logined}}
    </section>
    {{login-form}}
        <div class="login-form__wrapper">
            <div class="login-form">
                <form method="post">
                    <div>
                        <input type="text" name="login" value="" placeholder="Логин" />
                    </div>
                    <div>
                        <input type="password" name="password" value="" placeholder="Пароль" />
                    </div>
                    <div>
                        <input type="submit" value="Войти">
                    </div>
                </form>
            </div>
        </div>
    {{/login-form}}
</body>
</html>