<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/main.css" type="text/css" />
    <script type="module" src="./assets/main.js" async></script>
</head>
<body>
    <header>
        <h1>Тестовое здание для компании «КИТ»</h1>
    </header>
    <section>
        <aside>
            <ul class="my-tree" id="my-tree">
                <li class="">
                    <span data-id="1" data-upid="0" data-name="Record 0-1" data-text="More text">
                        <i></i><a href="">Record 0-1</a>
                    </span>
                </li>
                <li>
                    <span data-id="2" data-upid="0" data-name="Record 0-2" data-text="More text">
                        <i></i><a href="">Record 0-2</a>
                    </span>
                </li>
                <li>
                    <span data-id="3" data-upid="0" data-name="Record 0-3" data-text="More text">
                        <i></i><a href="">Record 0-3</a>
                    </span>
                    <ul>
                        <li>
                            <span data-id="4" data-upid="3" data-name="Record 03-1" data-text="More text">
                                <i></i><a href="">Record 03-1</a>
                            </span>
                        </li>
                        <li>
                            <span data-id="5" data-upid="3" data-name="Record 03-2" data-text="More text">
                                <i></i><a href="">Record 03-2</a>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <main id="tree-form">
            <h3></h3>
            <p></p>
        </main>
    </section>
</body>
</html>