<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/main.css" type="text/css" />
</head>
<body>
    <header>
        <h1>Тестовое здание для компании «КИТ»</h1>
    </header>
    <section>
        <aside>
            <ul class="my-tree">
                <li class="has-childs selected">
                    <span><i></i><a href="">Record 0-1</a></span>
                </li>
                <li>
                    <span><i></i><a href="">Record 0-2</a></span>
                </li>
                <li class="has-childs">
                    <span><i></i><a href="">Record 0-3</a></span>
                    <ul class="my-tree">
                        <li class="has-childs">
                            <span><i></i><a href="">Record 03-1</a></span>
                        </li>
                        <li>
                            <span><i></i><a href="">Record 03-2</a></span>
                        </li>
                        <li class="has-childs">
                            <span><i></i><a href="">Record 03-3</a></span>
                        </li>
                        <li>
                            <span><i></i><a href="">Record 03-4</a></span>
                        </li>
                        <li class="has-childs">
                            <span><i></i><a href="">Record 03-5</a></span>
                        </li>
                        <li class="has-childs">
                            <span><i></i><a href="">Record 03-6</a></span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span><i></i><a href="">Record 0-4</a></span>
                </li>
                <li class="has-childs">
                    <span><i></i><a href="">Record 0-5</a></span>
                    <ul class="my-tree">
                        <li class="has-childs">
                            <span><i></i><a href="">Record 05-1</a></span>
                        </li>
                        <li>
                            <span><i></i><a href="">Record 05-2</a></span>
                        </li>
                        <li class="has-childs">
                            <span><i></i><a href="">Record 05-3</a></span>
                        </li>
                        <li>
                            <span><i></i><a href="">Record 05-4</a></span>
                        </li>
                        <li class="has-childs">
                            <span><i></i><a href="">Record 05-5</a></span>
                        </li>
                        <li class="has-childs">
                            <span><i></i><a href="">Record 05-6</a></span>
                        </li>
                    </ul>
                </li>
                <li class="has-childs">
                    <span><i></i><a href="">Record 0-6</a></span>
                </li>
            </ul>
        </aside>
        <main></main>
    </section>
</body>
</html>